body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,1)), url("images/habesha4.jpg");

  /* Control the height of the image */
  min-height: 900px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg.text{
    text-decoration: none;
    color: khaki;
     position: fixed;
    text-align: center;
    margin: 20px;
    

}

/* Add styles to the form container */
.container {
    align-self: center;
  position: fixed;
  right: 0;
  top: 20;
  margin: 10px;
  max-width: 500px;
  padding: 40px;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #fff9e9ce;
  font-size: 20px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff7e0ce;
  outline: none;
  font-size: 20px;
}

/* Set a style for the submit button */
.btn {
  background-color: #9c5300;
  font-weight: 800;
  font-size: 20;
  color: rgb(255, 255, 255);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}